.confirmBox {
  display: flex;
  justify-content: space-between;
  margin: 0 60px 25px 0;
  padding: 7px 15px;
  border-radius: 4px;
  background-color: #F1F1F1;

  .hasConfirm {
    color: #87D068;
  }

  .hasNotConfirm {
    color: #FFB05B;
  }
}
