.listItem {
  padding: 14px;
  transition: background-color .3s;

  &:hover {
    cursor: pointer;
    background-color: #F4F4F4;
  }
}

.content {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
