.item {
  margin-left: .5em;
}

.header {
  background: #6391FF;
  padding: 0 20px;
  z-index: 2;
  box-shadow: 2px 0 4px rgba(0, 20, 40, 0.08);

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    .loading {
      position: fixed;
      z-index: 10;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: rgba(0, 0, 0, .4);

      > * {
        margin: 10px 0;
      }
    }

    .leftWrapper {
      display: flex;
      align-items: center;

      > img {
        display: none;
        width: 30px;
        margin-right: 25px;
      }

      .controlDrawerMenu {
        display: none;
        font-size: 20px;

        * {
          display: none;
        }

      }

      @media (max-width: 768px) {
        > img {
          display: inline;
        }

        .controlDrawerMenu {
          display: inline-block;

          * {
            display: inline-block;
          }
        }
      }


    }

    .rightWrapperBigScreen {
      color: #FFF;
      transition: color .3s;

      &:hover {
        cursor: pointer;
        color: #EEE;
      }

      @media (max-width: 768px) {
        display: none;
      }
    }

    .rightWrapperSmallScreen {
      @media (min-width: 768px) {
        display: none;
      }

      .dropdown {
        padding: 0 1em;

      }
    }
  }

}

