@import "./layouts/BasicSide";
@import "./layouts/BasicSideDrawer";
@import "./pages/Gossip/components/GossipWritings";

body {
  font-family: STFangsong, sans-serif;
  //font-family: -apple-system, SF UI Text, Arial, PingFang SC, Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif;
}

.ant-table-wrapper {
  th, td {
    border: none !important;
  }

  th {
    background-color: rgb(241, 247, 255);

    span.ant-table-column-title {
      font-weight: 400;
      color: #A9ADB7;
    }
  }
}


.ant-form-item-label > label {
  //color: #a9adb7 !important;
  color: #777a84 !important;
}

.ant-input, .ant-select-selection, .ant-input-number-input {
  //border: none !important;
  //border-color: #eee !important;
  background-color: #F8F9FB !important;
}

.zebraHighlight {
  background: rgb(244, 249, 250);
  border: none;
}

.textRight {
  text-align: right;
}

.redButton {
  color: #F27651 !important;

  &:hover {
    color: #f97953 !important;;
  }

  &:focus {
    color: #F27651 !important;;
  }
}

.headerWrapper {
  display: flex;
  justify-content: flex-start;
  padding: 22px 40px;
  background-color: #FFF;
}

.headerWrapperWithCreate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 40px;
  background-color: #FFF;
}

.searchWrapper {
  .ant-form-item-label {
    line-height: 1;
  }

  .ant-form-item {
    margin-bottom: 1em;
  }

  .searchButtons {
    display: flex;
    justify-content: flex-start;
    margin: 1.5rem 0 2rem 0;
    text-align: center;
  }
}

.contentWrapper {
  margin: 20px 20px 0;
  padding: 20px;
  border-radius: 2px;
  background-color: #FFF;

  h3 {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    padding-left: .5em;
    border-left: 4px solid #356DF9;
    font-weight: normal;
    font-size: 1.05em;
  }

  h4 {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    padding-left: .5em;
    border-left: 4px solid #becffa;
    font-weight: normal;
    font-size: 1.05em;
  }

  .ant-table-wrapper {
    overflow: auto;

    .ant-table {
      min-width: 800px;
    }
  }


  .paginationWrapper {
    display: flex;
    justify-content: center;
    padding: 3em 2em 1em;
  }
}

.actionGroup {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;

  > button {
    padding: 0;
  }

  > button:not(:only-of-type) {
    &:not(:first-of-type) {
      margin-left: 1em;
    }
  }

  .redButton {
    color: #F27651;

    &:hover {
      color: #f97953;
    }

    &:focus {
      color: #F27651;
    }
  }
}

