* {
  &::after, &::before {
    box-sizing: border-box;
  }
}

#root {
  min-height: 100vh;
  display: flex;
}

body {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: STFangsong, sans-serif;
}

// 覆盖 ant design 表头样式
thead.ant-table-thead {
  > tr {
    > th {
      background-color: transparent;

      span.ant-table-column-title {
        font-weight: 400;
        color: #A9ADB7;
      }
    }
  }
}

// 扩展 ant design 分页样式
.paginationWrapper {
  display: flex;
  justify-content: center;
  padding: 20px;
}
