.side {
  .logo {
    display: block;
    padding: 25px 20px 15px;

    img {
      height: 40px;
    }
  }

  .menu {
    padding-top: 14px;
  }

  @media (max-width: 768px) {
    display: none;
  }
}

.main {
  background: #f0f2f5;

  .header {
    z-index: 2;
    background: #FFF;
    box-shadow: 0 1px 4px rgba(0, 21, 41, .08);
    padding: 0 20px;
  }

  .content {
    flex: none;
  }

  .footer {
    padding: 50px 0;
    text-align: center;
  }
}
