.logo {
  display: block;
  padding: 20px;

  img {
    height: 40px;
  }
}

.menu {
  padding-top: 14px;
}

.header {
  padding: 0;
  background: rosybrown;
}

.content {
  margin: 20px 14px 0;
  padding: 20px;
  background: #fff;
}
