.basicSide {
  overflow-x: hidden;
  overflow-y: auto;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 20;
  box-shadow: 2px 2px 8px rgba(63, 120, 255, .15);

  @media (max-width: 768px) {
    display: none;
  }

  .systemName {
    height: 64px;
    display: flex;
    align-items: center;
    padding-left: 22px;
    background-color: #3f78ff;

    img {
      width: 74%;
    }
  }
}
