.basicSide {
  box-shadow: 0 1px 2px rgba(0, 20, 40, 0.08);
  @media (max-width: 768px) {
    display: none;
  }

  .systemName {
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, #3F78FF, #5C87EE);

    img {
      height: 30px;
    }
  }

  ul.ant-menu-inline {
    margin-top: 2.5rem;
    border: none;
  }

  li.ant-menu-item {
    width: 130px;
    margin-left: 8px;
    border-radius: 20px;

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    img {
      width: 15px;
      margin-right: .8em;
    }
  }

  li.ant-menu-item-selected {
    color: #FFF;
    background-color: #3F78FF !important;

    &::after {
      display: none;
    }
  }

  ul.ant-menu-inline-collapsed li.ant-menu-item {
    width: auto;
    margin-left: 0;
  }
}
