.basicSide {
  //box-shadow: 0 1px 2px rgba(0, 20, 40, 0.08);
  box-shadow: 2px 0 6px rgba(0, 21, 41, .35);
  z-index: 20;
  @media (max-width: 768px) {
    display: none;
  }

  .systemName {
    height: 64px;
    padding-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    //background-image: linear-gradient(to right, #3F78FF, #5C87EE);

    img {
      height: 30px;
    }
  }

  ul.ant-menu-root {
    margin-top: 2.5rem;
    border: none;
  }
}
