.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background: #001529;
  box-shadow: 2px 0 4px rgba(0, 20, 40, 0.08);
  z-index: 10;

  .leftWrapper {
    display: flex;
    align-items: center;

    .controlDrawerMenu {
      display: none;
      font-size: 20px;
      @media (max-width: 768px) {
        display: block;
      }
    }
  }

  .rightWrapper {
    display: flex;
    align-items: center;

    &:hover {
      cursor: pointer;
    }

    .dropdown {
      margin-left: 2em;

      .icon {
        margin-left: .5em;
        color: #606D85;
        font-size: 12px;
      }
    }
  }
}

.dropdownItem {
  margin-left: .5em;
}


